.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sets {
  list-style: none;
}

.set-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.set-symbol {
  height: 30px;
  width: 40px;
  padding-left: 10px;
}

.accordion__button {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.card-market {
  margin-top: 5rem;
}
