@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Raleway:wght@300;500&display=swap');


@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #0f7bb5, #04acdf);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  /* display: none; */
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}



.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sets {
  list-style: none;
}

.set-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.set-symbol {
  height: 30px;
  width: 40px;
  padding-left: 10px;
}

.accordion__button {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.accordion__button::before {
  z-index: -1;
}

.card-market {
  margin-top: 5rem;
}

.green-edh-cards{
  background-color: rgb(168,211,178);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.red-edh-cards{
  background-color: rgb(238, 175, 149);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.white-edh-cards{
  background-color: rgb(238, 175, 149);
  background-color: #FEFBDA;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.white-edh-cards{
  background-color: #FEFBDA;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.black-edh-cards{
  background-color: #CBC4C1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}

.blue-edh-cards{
  background-color: #B7DFF7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center!important;
  border: none;
  font-size: 1.3em;
}